body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.products {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
